{% extends "base1.html" %}
{% block title %}用户登录{% end %}
{% block main %}
    <div class="fl form-box">
        <h2>帐号登录</h2>
        <form action="/login" method="post">
            {% raw xsrf_form_html() %}
        <div class="form-group marb20">
            <label>邮&nbsp;&nbsp;&nbsp;箱</label>
            <input name="email" type="text" placeholder="邮箱"/>
        </div>
        <div class="form-group marb8">
            <label>密&nbsp;&nbsp;&nbsp;码</label>
            <input name="password" type="password" placeholder="请输入您的密码"/>
        </div>
        <div class="error" id="jsLoginTips">{{ error }}</div>
        <div class="auto-box marb38">
            {#                        <label><input type="checkbox" id="jsAutoLogin"> 自动登录</label>#}
{#            <a class="fr" href="{{ url('/')}}">忘记密码？</a>#}
        </div>
        <input class="btn btn-blue" id="jsLoginBtn" type="submit" value="立即登录 > "/>
        </form>
        <p1 class="form-p">没有牛牛帐号？<a href="{{reverse_url('signup')}}">[立即注册]</a></p1>
    </div>
{% end %}
