{% extends "base.html" %}
{% block title %}盟友圈{% end %}
{% block head_link %}
{% end %}
{% block  main %}
<form action="/search_friends" method="post">
    {% raw xsrf_form_html() %}
    <div class="form-gro marb20">
        <input class="aa" name="search" type="text" placeholder="查找朋友"/>
        <input class="bn bn-blue" id="jsLoginBtn" type="submit" value="查找"/>
    </div>
</form>
<div class="list">
    {% if error %}
    <ol>
        <li>
            <div class="userinfoerror">
                {{ error }}
            </div>
        </li>
    </ol>
    {% end %}
    <ol>
        {% for friend in news_list %}
        <li>
            <div class="userinfo">
                {% include 'include/userinfo.html' %}
            </div>
        </li>
        {% end %}
    </ol>
</div>
<div class="pagination">
    {% raw str_page %}
</div>
{% end %}
